.content-area-product {
  filter: blur(0);
  transition: .4s ease-in-out;
}
.content-area-product .popup-cart-active {
  filter: blur(6px);
}


.products-page-wrapper {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 25% 1fr;
  padding: 10px 10px;
  height: 100vh;
}
.products-page-wrapper .products-filter {
 background: #E6E6EB;
}
.products-grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.products-grid .products-wrapper {
  text-align: center;
}
.products-grid .title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}
.products-grid .price {
  font-size: 14px;
}
.products-grid .products-image {
  width: 100%;
  height: 230px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-grid .products-image img {
  width: 300px;
  height: 300px;
}
.products-title {
  position: absolute;
  bottom: 60%;
  width: 100%;
  padding-left: 20px;
}
.products-title h3 {
  font-size: 36px;
  color:#41454D;
  font-weight: 300;
}
.products-title h1 {
  font-size: 46px;
  font-weight: 700;
  color:#41454D;
}
