.products-page-wrapper {
  text-transform: uppercase;
  padding: 100px 0 0;
  display: grid;
  grid-template-columns: 25% 1fr;
}
.products-grid {
  position: relative;
  display: grid;
}
.products-grid .products-wrapper img {
  height: 200px;
}
