header {
  width: 100%;
  padding: 20px;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .store-title {
  color: black;
  float: left;
  width: 33%;
  font-size: 40px;
  text-transform: uppercase;
}
header .menu {
  font-size: 20px;
  text-transform: uppercase;
}
header .menu a {
  text-decoration: none;
  padding-right: 16px;
}
.con
