/*
  colors
black = #41454D
blue = #00BBE3
grey = #DCE3E2
*/
header {
  background: #fff;
  width: 100%;
  height: 100px;
  padding: 20px;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .store-title {
  color: #41454D;
  float: left;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
header .blast {
  margin-right: -8px;
  position: absolute;
}
header .t {
  color: #00BBE3;
}
header .beats {
  margin-left: 108px;
}
header .menu {
  font-size: 20px;
  text-transform: uppercase;
}
header .menu a {
  text-decoration: none;
  padding-right: 30px;
  color: #41454D;
  font-size: 22px;
}
header .menu a:hover {
  color: #00BBE3;
  transition: .1s ease-in-out;
}
header .menu a .fa {
  font-size: 30px;
  margin-right: 6px;
}
header .menu .cart {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 30px;
}
header .menu .cart:hover {
  background: #00BBE3;
  color: #41454D;
  transition: .3s ease-in-out;
}
header .menu .cart:hover .cart-item-selected  {

}
/* header .menu .cart-item-selected {
  color: #00BBE3;
} */
.spacer {
  height: 100px;
}
.free-shipping {
  width: 100%;
  padding: 20px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  position: fixed;
  z-index: 10;
  background: #41454D;
  color: #fff;
  text-transform: uppercase;
}
.free-shipping .line {
  font-size: 26px;
  font-weight: 400;
  color: #00BBE3;
}
.free-shipping .klarna {
  font-weight: 700;
}
.content-area-product {
  filter: blur(0);
  transition: .4s ease-in-out;
}
.popup-cart-active {
  filter: blur(6px);
}
.top-section {
  height: 100vh;
  width: 100%;
  position: relative;
}
.top-section .product-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section .product-wrapper img {
  width: 700px;
  height: 650px;
}
.product-title {
  position: absolute;
  bottom: 60%;
  width: 100%;
  padding-left: 20px;
}
.product-title h3 {
  font-size: 36px;
  color:#41454D;
  margin-bottom: 20px;
  font-weight: 300;
}
.product-title h1 {
  font-size: 46px;
  font-weight: 700;
  color:#41454D;
}
#cart-popup {
  background: #fff;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(65,69,77,1);
    -moz-box-shadow: 0px -2px 10px 0px rgba(65,69,77,1);
    box-shadow: 0px -2px 10px 0px rgba(65,69,77,1);
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 10% 50% 1fr 1fr 1fr;
  bottom: 0;
  z-index: 10;
}
.cart-title-wrapper {
  width: 100px;
  max-width: 100px;
  position: relative;
}
.cart-title {
  position: absolute;
  font-size: 30px;
  width: 200px;
  color: #41454D;
  text-transform: uppercase;
  transform: rotate(-90deg);
}
.item {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10px 0;
}
.item img {
  width: 70%;
  left: 20px;
  top: 24px;
}
.item-delete {
  width: 100%;
  height: 50%;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  border-radius: 10px;
}
.delete-button {
  background: #fff;
  position: absolute;
  top: 60px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.delete-button:hover {
  cursor: pointer;
  background: #00BBE3;
  border: 1px solid #41454D;
  transition: .3s ease-in-out;
}
